.popup
  .popup-content
    .popup-content-head
      p.popup-content__title Закажите звонок
      a(href="#").popup-content__close
        <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1 18L9.5 9.5M18 1L9.5 9.5M9.5 9.5L18 18M9.5 9.5L1 1" stroke="#989898" stroke-width="1.5"/>
        </svg>
    form.form-col
      .form-inputs
        .form-inputs-row
          .form-input.form-input_half
            input#clientName(type="text" name="clientName" placeholder="&nbsp;")
            label(for="clientName") Имя
          .form-input.form-input_half
            input#clientPhone(type="text" name="clientPhone" placeholder="&nbsp;")
            label(for="clientPhone") Телефон
          .form-input
            input#clientCompany(type="text" name="clientCompany" placeholder="&nbsp;")
            label(for="clientCompany") Компания
      .form-bottom
        button(type="submit").btn Заказать звонок
        p.form-bottom__text Отправляя данное сообщение, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a>