extends ../template
block title
  | Нева | О компании
block content
  main.main
    section.firstSolo
      .container
        .breadcrumbs
          a(href="#").breadcrumbs__link
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.66667 4.33333V11H9.33333V4.33333M2.66667 4.33333L1 6M2.66667 4.33333L6 1L9.33333 4.33333M11 6L9.33333 4.33333" stroke="#242C95" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            | Главная
          a(href="#").breadcrumbs__link 
            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L4 4.5L1 8" stroke="#989898"/>
            </svg>
            | О компании
        h1.defaultTitle.main__title О компании
        .about-full
          article.about-full-content
            p Нева-Проперти  является инвестиционно-девелоперским Холдингом, профессионально работающим уже более 6 лет  на рынке коммерческой, промышленной и жилой недвижимости в 5 регионах Российской Федерации - Санкт-Петербург, Ленинградская область, Карелия, Москва и Московская область.
            p В состав группы компаний входят подразделения реализующие проекты в сфере загородной недвижимости – Клевер Град.
            p Нева- Проперти одна из немногих компаний в Российской федерации целевым образом реализующая проекты в сфере организации, финансирования и строительства объектов относящихся к придорожной инфраструктуре.
            p Мы профессионально занимаемся продажей, инженерной подготовкой, получением всех необходимых согласований для организации и строительства АЗС, АГЗС, Моечных комплексов, объектов придорожного общепита, Станций технического обслуживания, Детейлинговых центров, придорожных магазинов и отелей.  Мы так же выступаем в качестве инвесторов и со-инветоров в подобных проектах.
            p Так же одним из направлений бизнеса является редевелопмент промышленных территорий.
            p Благодаря многолетнему и успешному опыту, нашими клиентами и партнёрами являются такие компании как: Shell, Сургутнефтегаз, Statoil, ТНК ВР, Магнитогорский металлургический комбинат, McDonald's, ВТБ Девелопмент , Хесбургер,  «BKF» и многие другие компании.
            p На сегодняшний день в портфеле компании находятся проекты по комплексному освоению территории под жилое и коммерческое строительство, а в сфере промышленной недвижимости проекты по реализации индустриальных комплексов одного из крупнейших предприятий Российской Федерации.
          .owlStyle.about-full-aside-galery
            .about-full-aside-galery__img
              img(src="assets/images/about.png", alt="")
            .about-full-aside-galery__img
              img(src="assets/images/about.png", alt="")
            .about-full-aside-galery__img
              img(src="assets/images/about.png", alt="")
          .about-num
            .about-num-item
              p.about-num-item__NUM 60
                span Га
              p.about-num-item__text Земли<br>промышленного<br>назначения
            .about-num-item
              p.about-num-item__NUM 270
                span Га
              p.about-num-item__text Земли под жилую<br>застройку
            .about-num-item
              p.about-num-item__NUM 100
                span Га
              p.about-num-item__text Земли под<br>коммерческую<br>застройку
            .about-num-item
              p.about-num-item__NUM 11
              p.about-num-item__text Коттеджных посёлков<br>в лучших районах<br>Ленинградской области
        