extends ../template
block title
  | Нева | Каталог объектов
block content
  main.main
    section.firstSolo
      .container
        .breadcrumbs
          a(href="#").breadcrumbs__link
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.66667 4.33333V11H9.33333V4.33333M2.66667 4.33333L1 6M2.66667 4.33333L6 1L9.33333 4.33333M11 6L9.33333 4.33333" stroke="#242C95" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            | Главная
          a(href="#").breadcrumbs__link 
            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L4 4.5L1 8" stroke="#989898"/>
            </svg>
            | Каталог объектов
        h1.defaultTitle Каталог объектов
        form.filter
          .filter-left
            label.filter-label 
              input#filterRadio__all(type="radio", checked, name="filterRadio")
              .filter-button Все
            label.filter-label 
              input#filterRadio__azc(type="radio", name="filterRadio")
              .filter-button АЗС
            label.filter-label 
              input#filterRadio__sto(type="radio", name="filterRadio")
              .filter-button СТО
            label.filter-label 
              input#filterRadio__carwash(type="radio", name="filterRadio")
              .filter-button Мойки
            label.filter-label 
              input#filterRadio__restaurant(type="radio", name="filterRadio")
              .filter-button Рестораны
            label.filter-label 
              input#filterRadio__sto(type="radio", name="filterRadio")
              .filter-button Склады
            label.filter-label 
              input#filterRadio__shop(type="radio", name="filterRadio")
              .filter-button Магазины
          .filter-right
            a(href="#" data-popup="#filter-popup").btn.btn_p16.btn_white_lightBlue.filter__link
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M9.00006 11.1819C10.205 11.1819 11.1819 10.205 11.1819 9.00006C11.1819 7.79507 10.205 6.81824 9.00006 6.81824C7.79507 6.81824 6.81824 7.79507 6.81824 9.00006C6.81824 10.205 7.79507 11.1819 9.00006 11.1819Z" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                <path d="M14.3818 11.1818C14.285 11.4012 14.2561 11.6445 14.2989 11.8804C14.3417 12.1164 14.4542 12.3341 14.6218 12.5055L14.6655 12.5491C14.8007 12.6842 14.908 12.8446 14.9812 13.0212C15.0544 13.1978 15.0921 13.387 15.0921 13.5782C15.0921 13.7693 15.0544 13.9586 14.9812 14.1352C14.908 14.3118 14.8007 14.4722 14.6655 14.6073C14.5304 14.7425 14.3699 14.8498 14.1934 14.923C14.0168 14.9962 13.8275 15.0339 13.6364 15.0339C13.4452 15.0339 13.2559 14.9962 13.0794 14.923C12.9028 14.8498 12.7424 14.7425 12.6073 14.6073L12.5636 14.5636C12.3922 14.396 12.1745 14.2835 11.9386 14.2407C11.7027 14.1979 11.4594 14.2268 11.24 14.3236C11.0249 14.4158 10.8414 14.5689 10.7122 14.764C10.583 14.9591 10.5137 15.1878 10.5127 15.4218V15.5455C10.5127 15.9312 10.3595 16.3012 10.0867 16.574C9.81392 16.8468 9.44395 17 9.05818 17C8.67241 17 8.30244 16.8468 8.02966 16.574C7.75688 16.3012 7.60364 15.9312 7.60364 15.5455V15.48C7.59801 15.2393 7.52009 15.0058 7.38001 14.81C7.23993 14.6141 7.04417 14.4649 6.81818 14.3818C6.59882 14.285 6.3555 14.2561 6.11957 14.2989C5.88365 14.3417 5.66595 14.4542 5.49455 14.6218L5.45091 14.6655C5.31582 14.8007 5.1554 14.908 4.97882 14.9812C4.80224 15.0544 4.61297 15.0921 4.42182 15.0921C4.23067 15.0921 4.04139 15.0544 3.86481 14.9812C3.68824 14.908 3.52782 14.8007 3.39273 14.6655C3.25749 14.5304 3.1502 14.3699 3.077 14.1934C3.00381 14.0168 2.96613 13.8275 2.96613 13.6364C2.96613 13.4452 3.00381 13.2559 3.077 13.0794C3.1502 12.9028 3.25749 12.7424 3.39273 12.6073L3.43636 12.5636C3.60403 12.3922 3.7165 12.1745 3.75928 11.9386C3.80205 11.7027 3.77317 11.4594 3.67636 11.24C3.58417 11.0249 3.43109 10.8414 3.23597 10.7122C3.04085 10.583 2.81221 10.5137 2.57818 10.5127H2.45455C2.06878 10.5127 1.69881 10.3595 1.42603 10.0867C1.15325 9.81392 1 9.44395 1 9.05818C1 8.67241 1.15325 8.30244 1.42603 8.02966C1.69881 7.75688 2.06878 7.60364 2.45455 7.60364H2.52C2.76072 7.59801 2.99419 7.52009 3.19004 7.38001C3.38589 7.23993 3.53507 7.04417 3.61818 6.81818C3.71499 6.59882 3.74387 6.3555 3.70109 6.11957C3.65832 5.88365 3.54585 5.66595 3.37818 5.49455L3.33455 5.45091C3.19931 5.31582 3.09202 5.1554 3.01882 4.97882C2.94562 4.80224 2.90795 4.61297 2.90795 4.42182C2.90795 4.23067 2.94562 4.04139 3.01882 3.86481C3.09202 3.68824 3.19931 3.52782 3.33455 3.39273C3.46963 3.25749 3.63005 3.1502 3.80663 3.077C3.98321 3.00381 4.17249 2.96613 4.36364 2.96613C4.55479 2.96613 4.74406 3.00381 4.92064 3.077C5.09722 3.1502 5.25764 3.25749 5.39273 3.39273L5.43636 3.43636C5.60777 3.60403 5.82547 3.7165 6.06139 3.75928C6.29731 3.80205 6.54064 3.77317 6.76 3.67636H6.81818C7.03329 3.58417 7.21674 3.43109 7.34596 3.23597C7.47518 3.04085 7.54452 2.81221 7.54545 2.57818V2.45455C7.54545 2.06878 7.6987 1.69881 7.97148 1.42603C8.24426 1.15325 8.61423 1 9 1C9.38577 1 9.75574 1.15325 10.0285 1.42603C10.3013 1.69881 10.4545 2.06878 10.4545 2.45455V2.52C10.4555 2.75403 10.5248 2.98267 10.654 3.17779C10.7833 3.37291 10.9667 3.52599 11.1818 3.61818C11.4012 3.71499 11.6445 3.74387 11.8804 3.70109C12.1164 3.65832 12.3341 3.54585 12.5055 3.37818L12.5491 3.33455C12.6842 3.19931 12.8446 3.09202 13.0212 3.01882C13.1978 2.94562 13.387 2.90795 13.5782 2.90795C13.7693 2.90795 13.9586 2.94562 14.1352 3.01882C14.3118 3.09202 14.4722 3.19931 14.6073 3.33455C14.7425 3.46963 14.8498 3.63005 14.923 3.80663C14.9962 3.98321 15.0339 4.17249 15.0339 4.36364C15.0339 4.55479 14.9962 4.74406 14.923 4.92064C14.8498 5.09722 14.7425 5.25764 14.6073 5.39273L14.5636 5.43636C14.396 5.60777 14.2835 5.82547 14.2407 6.06139C14.1979 6.29731 14.2268 6.54064 14.3236 6.76V6.81818C14.4158 7.03329 14.5689 7.21674 14.764 7.34596C14.9591 7.47518 15.1878 7.54452 15.4218 7.54545H15.5455C15.9312 7.54545 16.3012 7.6987 16.574 7.97148C16.8468 8.24426 17 8.61423 17 9C17 9.38577 16.8468 9.75574 16.574 10.0285C16.3012 10.3013 15.9312 10.4545 15.5455 10.4545H15.48C15.246 10.4555 15.0173 10.5248 14.8222 10.654C14.6271 10.7833 14.474 10.9667 14.3818 11.1818V11.1818Z" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
              </svg>
              | Фильтр
            a(href="#").btn.btn_p16.btn_white_lightBlue.filter__link.filter__link_map
              <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M13.1905 7.09524C13.1905 10.4615 8.61905 16.2381 7.09524 17C5.57143 16.2381 1 10.4615 1 7.09524C1 3.72893 3.72893 1 7.09524 1C10.4615 1 13.1905 3.72893 13.1905 7.09524Z" stroke="#6F78E5" stroke-width="1.5"/>
                <path d="M9.38095 7.09524C9.38095 8.3576 8.3576 9.38095 7.09524 9.38095C5.83287 9.38095 4.80952 8.3576 4.80952 7.09524C4.80952 5.83287 5.83287 4.80952 7.09524 4.80952C8.3576 4.80952 9.38095 5.83287 9.38095 7.09524Z" stroke="#6F78E5" stroke-width="1.5"/>
              </svg>
        .areas-grid
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
          a(href="#").areas-card
            .areas-card-map
              img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
              img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
            .areas-card-desc
              .areas-card-desc-top
                p.areas-card-desc-top__status Продается
                p.areas-card-desc-top__status Коммерческая недвижимость
              .areas-card-desc-main
                .areas-card-desc-main-top
                  p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                  <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                  </svg>
                p.areas-card-desc-main__item 
                  <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                  </svg>
                  | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                p.areas-card-desc-main__item
                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | 4814 м<sup>2</sup>
              p.areas-card-desc__where
                <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                </svg>
                | Новоградский тракт, Сосновский район, Челябинская область, Россия
        .pagination
          a(href="#").pagination__arr.pagination__arr_prev.pagination__arr_disabled
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M7 1.00024L1 7.00024L7 13.0002" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          a(href="#").pagination__arr.pagination__arr_page.pagination__arr_page_ACTIVE 1
          a(href="#").pagination__arr.pagination__arr_page 2
          p.pagination__miss ...
          a(href="#").pagination__arr.pagination__arr_page 15
          a(href="#").pagination__arr.pagination__arr_page 16
          a(href="#").pagination__arr.pagination__arr_next
            <svg width="8" height="14" viewBox="0 0 8 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1.00024L7 7.00024L1 13.0002" stroke="#1B1B1B" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
