extends ../template
block title
  | Нева | Избранное
block content
  main.main.item
    .firstSolo
      section.item-banner
        .container.item-banner-container
          .item-banner-desc
            .breadcrumbs
              a(href="#").breadcrumbs__link
                <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M2.66667 4.33333V11H9.33333V4.33333M2.66667 4.33333L1 6M2.66667 4.33333L6 1L9.33333 4.33333M11 6L9.33333 4.33333" stroke="#242C95" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Главная
              a(href="#").breadcrumbs__link 
                <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1L4 4.5L1 8" stroke="#989898"/>
                </svg>
                | Избранное
            h1.item-banner-desc__title Пулковское шоссе, <br>въезд в город
            .item-banner-desc-block-outer
              .item-banner-desc-block
                p.item-banner-desc-block__title
                  <svg width="14" height="18" viewBox="0 0 14 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M13.1905 7.09524C13.1905 10.4615 8.61905 16.2381 7.09524 17C5.57143 16.2381 1 10.4615 1 7.09524C1 3.72893 3.72893 1 7.09524 1C10.4615 1 13.1905 3.72893 13.1905 7.09524Z" stroke="#6F78E5" stroke-width="1.5"/>
                    <path d="M9.38095 7.09524C9.38095 8.3576 8.3576 9.38095 7.09524 9.38095C5.83287 9.38095 4.80952 8.3576 4.80952 7.09524C4.80952 5.83287 5.83287 4.80952 7.09524 4.80952C8.3576 4.80952 9.38095 5.83287 9.38095 7.09524Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Адрес
                p.item-banner-desc-block__text Пулковское шоссе, территория Пулковское посёлок Шушары, Пушкинский район, Санкт-Петербург, Россия
              .item-banner-desc-block
                p.item-banner-desc-block__title
                  <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M15.3333 2.66667V0M17.3333 4.66667H20M17.3333 15.3333H20M15.3333 17.3333V20M4.66667 17.3333V20M2.66667 15.3333H0M2.66667 4.66667H0M4.66667 2.66667V0M4.66667 4.66667V15.3333H15.3333V4.66667H4.66667Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Площадь
                p.item-banner-desc-block__text 4814 м2
            .item-banner-desc-bot
              a(href="#").btn.btn_h50.item-banner-desc-bot__btn Получить презентацию
              a(href="#").btn.btn_h50.btn_white.item-banner-desc-bot__btn 
                <svg width="23" height="24" viewBox="0 0 23 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M11.2857 1.71429L14.464 8.48491L21.5714 9.5773L16.4286 14.8445L17.6423 22.2857L11.2857 18.7706L4.92914 22.2857L6.14286 14.8445L1 9.5773L8.10743 8.48491L11.2857 1.71429Z" fill="white" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                </svg>
                | Добавить в избранное
          .item-banner-map
            #item-map
      section.item-about
        .container.item-about-container
          .item-about-slider
            .owlStyle.about-full-aside-galery
              .about-full-aside-galery__img
                img(src="assets/images/item-about-slider.png", alt="")
              .about-full-aside-galery__img
                img(src="assets/images/item-about-slider.png", alt="")
              .about-full-aside-galery__img
                img(src="assets/images/item-about-slider.png", alt="")
          .item-about-desc
            p.defaultSup Основные моменты
            p.defaultTitle Об участке
            p.item-about-desc__text Продажа земельных участков под коммерцию на 1-й линии Киевского/Пулковского шоссе.<br>Назначение: Коммерческая недвижимость<br>Участки утверждены в ППТ жилого квартала
            .item-about-desc-items
              p.item-about-desc__item
                <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 1V0.25C0.585786 0.25 0.25 0.585786 0.25 1L1 1ZM1 9.20513H0.25C0.25 9.61934 0.585786 9.95513 1 9.95513L1 9.20513ZM3.87179 9.20513V9.95513C4.28601 9.95513 4.62179 9.61934 4.62179 9.20513H3.87179ZM3.87179 1H4.62179C4.62179 0.585786 4.28601 0.25 3.87179 0.25V1ZM8.58974 14.1282V13.3782C8.17553 13.3782 7.83974 13.714 7.83974 14.1282H8.58974ZM8.58974 17H7.83974C7.83974 17.4142 8.17553 17.75 8.58974 17.75V17ZM17 17V17.75C17.4142 17.75 17.75 17.4142 17.75 17H17ZM17 14.1282H17.75C17.75 13.714 17.4142 13.3782 17 13.3782V14.1282ZM0.25 1V9.20513H1.75V1H0.25ZM1 9.95513H3.87179V8.45513H1V9.95513ZM3.87179 0.25H1V1.75H3.87179V0.25ZM4.62179 9.20513V8.58974H3.12179V9.20513H4.62179ZM3.87179 9.33974H7.15385V7.83974H3.87179V9.33974ZM8.45513 10.641V14.1282H9.95513V10.641H8.45513ZM9.20513 14.8782H16.3846V13.3782H9.20513V14.8782ZM17.1346 14.1282V11.0513H15.6346V14.1282H17.1346ZM4.62179 8.58974V1.61538H3.12179V8.58974H4.62179ZM4.62179 1.61538V1H3.12179V1.61538H4.62179ZM6.94872 0.865385H3.87179V2.36538H6.94872V0.865385ZM9.20513 13.3782H8.58974V14.8782H9.20513V13.3782ZM7.83974 14.1282V17H9.33974V14.1282H7.83974ZM8.58974 17.75H17V16.25H8.58974V17.75ZM17.75 17V14.1282H16.25V17H17.75ZM17 13.3782H16.3846V14.8782H17V13.3782ZM17.1346 11.0513C17.1346 5.42577 12.5742 0.865385 6.94872 0.865385V2.36538C11.7458 2.36538 15.6346 6.25419 15.6346 11.0513H17.1346ZM7.15385 9.33974C7.87252 9.33974 8.45513 9.92235 8.45513 10.641H9.95513C9.95513 9.09392 8.70095 7.83974 7.15385 7.83974V9.33974Z" fill="#6F78E5"/>
                </svg>
                | Локальная канализация
              p.item-about-desc__item
                <svg width="12" height="18" viewBox="0 0 12 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M1 9.8421L3.94737 1H9.8421L5.8421 7.94737H10.8947L2.89474 17L5.8421 9.8421H1Z" stroke="#6F78E5" stroke-width="1.5" stroke-linejoin="round"/>
                </svg>
                | Электроснабжение
              p.item-about-desc__item
                <svg width="12" height="16" viewBox="0 0 12 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <mask id="path-1-inside-1" fill="white">
                  <path d="M11.6 10.4C11.6 13.4928 8.8928 16 5.8 16C2.70721 16 0 13.4928 0 10.4C0 7.30721 5.8 0 5.8 0C5.8 0 11.6 7.30721 11.6 10.4Z"/>
                  </mask>
                  <path d="M5.8 0L6.97488 -0.932549C6.69034 -1.29104 6.25769 -1.5 5.8 -1.5C5.34231 -1.5 4.90966 -1.29104 4.62512 -0.932549L5.8 0ZM10.1 10.4C10.1 12.5971 8.13326 14.5 5.8 14.5V17.5C9.65233 17.5 13.1 14.3885 13.1 10.4H10.1ZM5.8 14.5C3.46674 14.5 1.5 12.5971 1.5 10.4H-1.5C-1.5 14.3885 1.94767 17.5 5.8 17.5V14.5ZM1.5 10.4C1.5 9.99395 1.72254 9.22336 2.25562 8.12535C2.76005 7.08638 3.44685 5.94275 4.15473 4.86218C4.85915 3.7869 5.56626 2.80156 6.09869 2.08346C6.36437 1.72511 6.58531 1.43501 6.73902 1.23549C6.81585 1.13577 6.87581 1.05879 6.91607 1.00734C6.9362 0.981623 6.95141 0.962296 6.96133 0.949711C6.96629 0.943419 6.96993 0.938813 6.9722 0.935938C6.97334 0.9345 6.97413 0.933496 6.97458 0.932929C6.97481 0.932645 6.97495 0.932472 6.975 0.932408C6.97502 0.932376 6.97499 0.932412 6.97501 0.932396C6.97496 0.932458 6.97488 0.932549 5.8 0C4.62512 -0.932549 4.625 -0.932403 4.62486 -0.932229C4.62479 -0.932133 4.62463 -0.931931 4.62448 -0.931741C4.62417 -0.931359 4.62378 -0.930867 4.6233 -0.930264C4.62235 -0.929058 4.62104 -0.927408 4.61939 -0.925322C4.61609 -0.921149 4.61141 -0.915227 4.6054 -0.907598C4.59337 -0.892343 4.576 -0.870261 4.55366 -0.841707C4.50896 -0.784604 4.44431 -0.701577 4.36254 -0.59545C4.19907 -0.383269 3.96688 -0.0783374 3.68881 0.296695C3.13374 1.04534 2.39085 2.08011 1.64527 3.21823C0.903149 4.35106 0.139951 5.61413 -0.443125 6.8151C-0.997541 7.95705 -1.5 9.25965 -1.5 10.4H1.5ZM5.8 0C4.62512 0.932549 4.62504 0.932458 4.62499 0.932396C4.62501 0.932412 4.62498 0.932376 4.625 0.932408C4.62506 0.932472 4.62519 0.932645 4.62542 0.932929C4.62587 0.933496 4.62666 0.9345 4.6278 0.935938C4.63007 0.938813 4.63371 0.943419 4.63867 0.949711C4.6486 0.962296 4.6638 0.981623 4.68393 1.00734C4.7242 1.05879 4.78415 1.13577 4.86098 1.23549C5.01469 1.43501 5.23563 1.72511 5.50132 2.08346C6.03374 2.80156 6.74085 3.7869 7.44527 4.86218C8.15315 5.94275 8.83995 7.08638 9.34438 8.12535C9.87746 9.22336 10.1 9.99395 10.1 10.4H13.1C13.1 9.25965 12.5975 7.95705 12.0431 6.8151C11.46 5.61413 10.6969 4.35106 9.95473 3.21823C9.20915 2.08011 8.46626 1.04534 7.91119 0.296695C7.63312 -0.0783374 7.40093 -0.383269 7.23746 -0.59545C7.15569 -0.701577 7.09104 -0.784604 7.04635 -0.841707C7.024 -0.870261 7.00663 -0.892343 6.9946 -0.907598C6.98859 -0.915227 6.98391 -0.921149 6.98061 -0.925322C6.97896 -0.927408 6.97765 -0.929058 6.9767 -0.930264C6.97622 -0.930867 6.97583 -0.931359 6.97553 -0.931741C6.97537 -0.931931 6.97521 -0.932133 6.97514 -0.932229C6.975 -0.932403 6.97488 -0.932549 5.8 0Z" fill="#6F78E5" mask="url(#path-1-inside-1)"/>
                  <path d="M6.83775 12.7433C6.47504 12.9433 6.34317 13.3995 6.54321 13.7622C6.74325 14.1249 7.19944 14.2568 7.56215 14.0567L6.83775 12.7433ZM9.94995 9.99736C9.94849 9.58315 9.61153 9.24855 9.19732 9.25C8.7831 9.25146 8.4485 9.58843 8.44996 10.0026L9.94995 9.99736ZM8.79995 12L9.44598 12.381L8.79995 12ZM7.19995 13.4C7.56215 14.0567 7.56227 14.0567 7.56239 14.0566C7.56243 14.0566 7.56256 14.0565 7.56265 14.0565C7.56283 14.0564 7.56303 14.0563 7.56325 14.0561C7.56369 14.0559 7.5642 14.0556 7.56478 14.0553C7.56593 14.0546 7.56737 14.0538 7.56908 14.0529C7.5725 14.051 7.57701 14.0485 7.58255 14.0453C7.59364 14.039 7.60888 14.0303 7.62781 14.0193C7.66565 13.9972 7.71844 13.9658 7.78248 13.926C7.91001 13.8466 8.08492 13.7322 8.2764 13.5906C8.64009 13.3215 9.1408 12.8985 9.44598 12.381L8.15393 11.619C8.00672 11.8686 7.70744 12.1456 7.38422 12.3847C7.23224 12.4972 7.09198 12.589 6.99019 12.6523C6.93957 12.6838 6.89917 12.7078 6.87248 12.7233C6.85915 12.7311 6.84929 12.7367 6.84335 12.7401C6.84038 12.7418 6.83839 12.7429 6.83743 12.7434C6.83696 12.7437 6.83674 12.7438 6.83679 12.7438C6.83682 12.7438 6.83691 12.7437 6.83707 12.7436C6.83715 12.7436 6.83724 12.7435 6.83736 12.7435C6.83742 12.7434 6.83751 12.7434 6.83754 12.7434C6.83764 12.7433 6.83775 12.7433 7.19995 13.4ZM9.44598 12.381C9.73274 11.8947 9.84523 11.2605 9.8964 10.8316C9.92385 10.6015 9.93713 10.3966 9.94363 10.249C9.94689 10.1748 9.94847 10.1142 9.94924 10.0712C9.94962 10.0496 9.94981 10.0323 9.94989 10.0199C9.94993 10.0137 9.94995 10.0086 9.94995 10.0049C9.94995 10.003 9.94995 10.0014 9.94995 10.0002C9.94995 9.99953 9.94995 9.99898 9.94995 9.99852C9.94995 9.99828 9.94995 9.99807 9.94995 9.99788C9.94995 9.99778 9.94995 9.99765 9.94995 9.99761C9.94995 9.99748 9.94995 9.99736 9.19995 10C8.44996 10.0026 8.44996 10.0025 8.44996 10.0024C8.44996 10.0024 8.44995 10.0023 8.44995 10.0022C8.44995 10.0021 8.44995 10.002 8.44995 10.002C8.44995 10.0018 8.44995 10.0017 8.44995 10.0018C8.44995 10.0018 8.44995 10.0021 8.44995 10.0027C8.44995 10.0039 8.44994 10.0064 8.44992 10.0099C8.44987 10.0171 8.44976 10.0287 8.44948 10.0444C8.44892 10.0759 8.4477 10.1233 8.44508 10.1831C8.43979 10.3032 8.42894 10.4697 8.40697 10.6539C8.35929 11.0534 8.27178 11.4192 8.15393 11.619L9.44598 12.381Z" fill="#6F78E5"/>
                </svg>
                | Скважина
            a(href="#").btn.btn_h50.item-about-desc__btn Узнать подробнее 
      section.item-facts
        .container
          p.defaultSup Особенности
          p.defaultTitle Ключевые факты
          .item-facts-row
            .item-facts-item
              .item-facts-item-imgbox-outer
                .item-facts-item-imgbox
                  img(src="assets/images/facts.png", alt="").item-facts-item-imgbox__img
              p.item-facts-item__text Первая линия
            .item-facts-item
              .item-facts-item-imgbox-outer
                .item-facts-item-imgbox
                  img(src="assets/images/facts.png", alt="").item-facts-item-imgbox__img
              p.item-facts-item__text Первая линия
            .item-facts-item
              .item-facts-item-imgbox-outer
                .item-facts-item-imgbox
                  img(src="assets/images/facts.png", alt="").item-facts-item-imgbox__img
              p.item-facts-item__text Первая линия
      section.item-similar
        .container
          p.defaultSup Доступные объекты
          p.defaultTitle Похожие предложения
          form.filter
            label.filter-label 
              input#filterRadio__all(type="radio", checked, name="filterRadio")
              .filter-button.filter-button_where 
            label.filter-label 
              input#filterRadio__azc(type="radio", name="filterRadio")
              .filter-button По назначению
          .owlStyle.item-similar-slider
            a(href="#").areas-card
              .areas-card-map
                img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
                img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
              .areas-card-desc
                .areas-card-desc-top
                  p.areas-card-desc-top__status Продается
                  p.areas-card-desc-top__status Коммерческая недвижимость
                .areas-card-desc-main
                  .areas-card-desc-main-top
                    p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                    <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  p.areas-card-desc-main__item 
                    <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                    </svg>
                    | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                  p.areas-card-desc-main__item
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                    </svg>
                    | 4814 м<sup>2</sup>
                p.areas-card-desc__where
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Новоградский тракт, Сосновский район, Челябинская область, Россия
            a(href="#").areas-card
              .areas-card-map
                img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
                img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
              .areas-card-desc
                .areas-card-desc-top
                  p.areas-card-desc-top__status Продается
                  p.areas-card-desc-top__status Коммерческая недвижимость
                .areas-card-desc-main
                  .areas-card-desc-main-top
                    p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                    <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  p.areas-card-desc-main__item 
                    <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                    </svg>
                    | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                  p.areas-card-desc-main__item
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                    </svg>
                    | 4814 м<sup>2</sup>
                p.areas-card-desc__where
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Новоградский тракт, Сосновский район, Челябинская область, Россия
            a(href="#").areas-card
              .areas-card-map
                img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
                img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
              .areas-card-desc
                .areas-card-desc-top
                  p.areas-card-desc-top__status Продается
                  p.areas-card-desc-top__status Коммерческая недвижимость
                .areas-card-desc-main
                  .areas-card-desc-main-top
                    p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                    <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  p.areas-card-desc-main__item 
                    <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                    </svg>
                    | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                  p.areas-card-desc-main__item
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                    </svg>
                    | 4814 м<sup>2</sup>
                p.areas-card-desc__where
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Новоградский тракт, Сосновский район, Челябинская область, Россия
            a(href="#").areas-card
              .areas-card-map
                img(src="assets/images/mainImg.png", alt="").areas-card-map__img.areas-card-map__img_main
                img(src="assets/images/hoverImg.png", alt="").areas-card-map__img.areas-card-map__img_hover
              .areas-card-desc
                .areas-card-desc-top
                  p.areas-card-desc-top__status Продается
                  p.areas-card-desc-top__status Коммерческая недвижимость
                .areas-card-desc-main
                  .areas-card-desc-main-top
                    p.areas-card-desc-main-top__title Пулковское шоссе,<br>въезд в город
                    <svg class="areas-card-desc-main-top__fav" width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M13 1L16.708 8.89905L25 10.1735L19 16.3186L20.416 25L13 20.8991L5.584 25L7 16.3186L1 10.1735L9.292 8.89905L13 1Z" fill="#FEFEFE" stroke="#6F78E5" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                  p.areas-card-desc-main__item 
                    <svg width="17" height="19" viewBox="0 0 17 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M2.28571 18H1.53571V18.75H2.28571V18ZM2.28571 9.85714H3.03571V9.10714H2.28571V9.85714ZM0 9.85714L-0.525531 9.32206C-0.742831 9.53548 -0.809483 9.85912 -0.694195 10.141C-0.578908 10.4229 -0.304577 10.6071 0 10.6071L0 9.85714ZM8 2L8.52553 1.46491L8 0.948767L7.47447 1.46491L8 2ZM16 9.85714V10.6071C16.3046 10.6071 16.5789 10.4229 16.6942 10.141C16.8095 9.85912 16.7428 9.53548 16.5255 9.32206L16 9.85714ZM13.7143 9.85714V9.10714H12.9643V9.85714H13.7143ZM13.7143 18V18.75H14.4643V18H13.7143ZM9.71429 18H8.96429V18.75H9.71429V18ZM9.71429 12.2857H10.4643V11.5357H9.71429V12.2857ZM6.28571 12.2857V11.5357H5.53571V12.2857H6.28571ZM6.28571 18V18.75H7.03571V18H6.28571ZM3.03571 18V9.85714H1.53571V18H3.03571ZM2.28571 9.10714H0V10.6071H2.28571V9.10714ZM0.525531 10.3922L8.52553 2.53509L7.47447 1.46491L-0.525531 9.32206L0.525531 10.3922ZM7.47447 2.53509L15.4745 10.3922L16.5255 9.32206L8.52553 1.46491L7.47447 2.53509ZM16 9.10714H13.7143V10.6071H16V9.10714ZM12.9643 9.85714V18H14.4643V9.85714H12.9643ZM13.7143 17.25H9.71429V18.75H13.7143V17.25ZM10.4643 18V12.2857H8.96429V18H10.4643ZM9.71429 11.5357H6.28571V13.0357H9.71429V11.5357ZM5.53571 12.2857V18H7.03571V12.2857H5.53571ZM6.28571 17.25H2.28571V18.75H6.28571V17.25Z" fill="#6F78E5"/>
                    </svg>
                    | АЗС , СТО , Мойки , Рестораны , Склады , Магазины
                  p.areas-card-desc-main__item
                    <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M12.2667 2.13333V0M13.8667 3.73333H16M13.8667 12.2667H16M12.2667 13.8667V16M3.73333 13.8667V16M2.13333 12.2667H0M2.13333 3.73333H0M3.73333 2.13333V0M3.73333 3.73333V12.2667H12.2667V3.73333H3.73333Z" stroke="#6F78E5" stroke-width="1.5"/>
                    </svg>
                    | 4814 м<sup>2</sup>
                p.areas-card-desc__where
                  <svg width="17" height="18" viewBox="0 0 17 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M14.6905 7.00002C14.6905 10.3663 10.1191 16.1429 8.59527 16.9048C7.07146 16.1429 2.50003 10.3663 2.50003 7.00002C2.50003 3.63372 5.22896 0.904785 8.59527 0.904785C11.9616 0.904785 14.6905 3.63372 14.6905 7.00002ZM10.881 7.00002C10.881 8.26239 9.85763 9.28574 8.59527 9.28574C7.3329 9.28574 6.30955 8.26239 6.30955 7.00002C6.30955 5.73766 7.3329 4.71431 8.59527 4.71431C9.85763 4.71431 10.881 5.73766 10.881 7.00002Z" stroke="#6F78E5" stroke-width="1.5"/>
                  </svg>
                  | Новоградский тракт, Сосновский район, Челябинская область, Россия
      section.form
        .container
          p.defaultSup Давайте сотрудничать
          p.defaultTitle Свяжитесь с нами
          .form-row
            form.form-col
              .form-check
                p.form-check__title Интересующий тип земли
                .form-check-row
                  label.form-check-label 
                    input#typeRealty__azs(type="checkbox", name="typeRealty")
                    p.form-check-button АЗС
                  label.form-check-label 
                    input#typeRealty__carwash(type="checkbox", name="typeRealty")
                    p.form-check-button Мойки
                  label.form-check-label 
                    input#typeRealty__restaurant(type="checkbox", name="typeRealty")
                    p.form-check-button Рестораны
                  label.form-check-label 
                    input#typeRealty__sklad(type="checkbox", name="typeRealty")
                    p.form-check-button Склады 
                  label.form-check-label 
                    input#typeRealty__shop(type="checkbox", name="typeRealty")
                    p.form-check-button Магазины
                  label.form-check-label 
                    input#typeRealty__sto(type="checkbox", name="typeRealty")
                    p.form-check-button СТО
                  label.form-check-label 
                    input#typeRealty__cafe(type="checkbox", name="typeRealty")
                    p.form-check-button Кафе
                  label.form-check-label 
                    input#typeRealty__office(type="checkbox", name="typeRealty")
                    p.form-check-button Офисы 
                  label.form-check-label 
                    input#typeRealty__tc(type="checkbox", name="typeRealty")
                    p.form-check-button Торговые центры
              .form-inputs
                .form-inputs-row
                  .form-input.form-input_half
                    input#clientName(type="text" name="clientName" placeholder="&nbsp;")
                    label(for="clientName") Имя
                  .form-input.form-input_half
                    input#clientPhone(type="text" name="clientPhone" placeholder="&nbsp;")
                    label(for="clientPhone") Телефон
                  .form-input
                    input#clientCompany(type="text" name="clientCompany" placeholder="&nbsp;")
                    label(for="clientCompany") Компания
                  .form-input
                    input#clientMessage(type="text" name="clientMessage" placeholder="&nbsp;")
                    label(for="clientMessage") Сообщение
              .form-bottom
                button(type="submit").btn Отправить сообщение
                p.form-bottom__text Отправляя данное сообщение, Вы соглашаетесь с <a href="#">политикой конфиденциальности</a>
            .form-img
              img(src="assets/images/prison.png", alt="")
        