extends ../template
block title
  | Нева | Sitemap
block content
  main.main
    section.firstSolo
      .container
        .breadcrumbs
          a(href="#").breadcrumbs__link
            <svg width="12" height="12" viewBox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M2.66667 4.33333V11H9.33333V4.33333M2.66667 4.33333L1 6M2.66667 4.33333L6 1L9.33333 4.33333M11 6L9.33333 4.33333" stroke="#242C95" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
            | Главная
          a(href="#").breadcrumbs__link 
            <svg width="5" height="9" viewBox="0 0 5 9" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M1 1L4 4.5L1 8" stroke="#989898"/>
            </svg>
            | Sitemap
        h1.defaultTitle Sitemap
        table
          tr
            td 
              a(href="index.html") Главная
          tr
            td 
              a(href="catalog.html.html") Каталог
          tr
            td 
              a(href="news.html") Новости
          tr
            td 
              a(href="about.html") О компании