<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", href="assets/styles/app.min.css")
    script(src="assets/scripts/jquery.min.js")
    script(src="assets/scripts/owl.carousel.min.js")
    script(src="assets/scripts/masonry.min.js")
    script(src="assets/scripts/supaform.js")
    <script src="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.js"></script>
    <link href="https://api.mapbox.com/mapbox-gl-js/v1.10.1/mapbox-gl.css" rel="stylesheet" />
    script(src="assets/scripts/main.js")
    script(src="https://api-maps.yandex.ru/2.1/?apikey=50f3a4af-2ecd-40f1-85ef-0e719fc2122b&lang=ru_RU" type="text/javascript")
    title 
      block title
  body
    block vars
    include common/header
    .wrapper
      block content
    include common/footer